 /********************************* Start product**********/

 .more-product{
    
}
 .more-product .product-body{
        margin-top: 30px;
        margin-bottom: 30px;
    cursor: pointer;
     -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
}
 .more-product .product-body .up{
        width: 85%;
    margin: auto;
    overflow: hidden;
     -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
}
.more-product .product-body .up .imaga{
        width: 100%;
    height: 170px;
    overflow: hidden;
}
 .more-product .product-body .up .imaga .imagees{
        display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.more-product .product-body .up .title-serves{
    text-align: center;
    margin: auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -140px;
    
    bottom: -15px;
    padding: 2px 20px 8px;
    opacity: 0;
    transition: .25s;
    background: linear-gradient(to top,#f15b2a 0,#f15b2a00 100%);
    font-size: 14px;
    color: #c22323;
    /* margin-left: 4%; */
    width: 78%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    z-index: 11111111;
    transition: 1.25s;
    height: 35%;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;

}
.more-product .product-body:hover .up .title-serves{

display: block;
    transform: translateY(-35px);
    opacity: 1;
}
.more-product .product-body .up .title-serves span{

}
.more-product .product-body .up .title-serves span{
    display: inline-block;
    position: relative;
    top: 70px;
    left: -120px;
color: #fff;
padding: 60px 7px;
border-radius: 2px;
transition: 1s;
    text-decoration: none;
        font-size: 25px;
    opacity: 0;
}
.more-product .product-body:hover .up .title-serves span{
    opacity: 1;
    transform: rotateX(360deg) scale(1.1);
    font-size: 30px;
        top: 0px;
    left: 0px;
    opacity: 1;
}


@media(max-width:1199px){
    .more-product .product-body .up .title-serves{
        top: -140px;
        width: 77%;
        height: 35%;
    }
}
@media(max-width:991px){
    .more-product .product-body .up .title-serves{
        top: -175px;
        width: 75%;
        height: 35%;
    }
}
@media(max-width:768px){
    .more-product .product-body .up .title-serves{
        top: -121px;
        width:250px;
        height: 35%;
    }
}
@media(max-width:480px){
    .more-product .product-body .up .title-serves{
        top: -121px;
        width: 250px;
        height: 35%;
    }
}
@media(max-width:370px){
    .more-product .product-body .up .title-serves{
        top: -121px;
        width: 250px;
        height: 35%;
    }
}



@media(max-width:768px){
     .more-product .product-body .up{
        width: 250px;;
    }
     .more-product .product-body .up .imagees{
    width: 250px;
    }
}


 .more-product .product-body .under{
        width: 85%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #f15b2a;
        border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
 .more-product .product-body:hover .imagees{
        transform: scale(1.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
 .more-product .product-body .up .imagees:hover{
           transform: scale(1.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}

@media(max-width:768px){
    .more-product .product-body .under{
        width: 250px;
    }
}
 .more-product .product-body .under .p-name{
    text-align: left;
    margin-left: 20px;
    font-size: 18px;
}
 .more-product .product-body .under .line-4{
    width: 80%;
    border-bottom: 2px solid #f15b2a;
    margin-left: 20px;
}
 .more-product .product-body .under p{
    text-align: left;
    font-size: 18px;
    margin-left: 20px;
}
 .more-product .product-body .under p span{
        color: #f15b2a;
    margin-right: 5px;
}
 .more-product .product-body .under .price-pro{
    float: left;
    margin-top: 0px;
         margin-left: 20px;
}
 .more-product .product-body .under .price-pro .sale-pro{
     color: #000;
    font-size: 20px;
    font-size: 18px;
} 
 .more-product .product-body .under .price-pro .descount-pro{
    font-size: 13px;
}

 .more-product .product-body .under .price-pro .descount-pro .descount-price{
    text-decoration: line-through;
    color: #a7a5a5;

}
 .more-product .product-body .under .price-pro .descount-pro .descount-percent{
    border: 2px solid #f15b2a;
    padding: 3px;

}
 .more-product .product-body .under a{
        display: block;
    text-align: center;
    width: 100px;
    margin: auto;
    border: 2px solid #f15b2a;
    background: #f15b2a;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin-top: 5px;
    border-radius: 5px;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
}
 .more-product .product-body .under a:hover{
    background: #fff;
color: #f15b2a;

}


 .more-product .product-body .under .rate{
       font-family: 'Ionicons';
    font-size: 25px;
    display: -webkit-box;
    cursor: pointer;
    margin-left: 20px;
        margin-top: 0px; 
}
 .more-product .product-body .under .rate > .star::after{
    content: "\f3ae";
        color: #a7a5a5;
    
}
 .more-product .product-body .under .rate > .full::after{
    content: "\f2fc";
        color: #f15b2a;
    
}
.more-product .product-body .under .rate > .half::after{
    content: "\f3ad";
        color: #f15b2a;
    
}
 .more-product .product-body .under .rate .percent{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 5px;
}

 .more-product .moree{
    width: 250px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 25px;
}
 .more-product .moree a{
background: #f15b2a;
    width: 346px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #f15b2a;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
            -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
}
 .more-product .moree a:hover{
    background: #fff;
color: #f15b2a;
}
 /********************************* End product**********/










































