.serves{
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.serves .partment{
    border: 2px solid #f15b2a;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    height: 225px;
    cursor: pointer;
}
.serves .partment img{
    display: block;
    width: 100%;
    height: 225px;
    border-radius: 9px;
    transition: 1s;
    /*-webkit-animation: moving 1.5s infinite ease-in-out;*/
}
.serves .partment:hover img{
transform: scale(1.1); 
   /* @-webkit-keyframes moving{
        0%{
           transform: scale(1.1); 
        }
        50%{
           transform: scale(1); 
        }
        100%{
           transform: scale(1.1); 
        }
    }*/
}
.serves .partment .title-serves {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: -15px;
    padding: 20px 20px 8px;
    opacity: 0;
    transition: .25s;
    background: linear-gradient(to top,#f15b2a 0,#f15b2a00 100%);
    font-size: 14px;
    color: #c22323;
    margin-left: 4%;
    width: 92%;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    z-index: 11111111;
    transition: 1.25s;
}
.serves .partment .title-serves-2 {
    display: block;
    background: #f15b2a;
    position: absolute;
    width: 80%;
    font-size: 20px;
    margin-left: 5.5%;
    /* line-height: 20px; */
    padding-bottom: 10px;
    padding-top: 10px;
    top: -50px;
    border-top-left-radius: 10px;
    z-index: -1;
    border-top-right-radius: 10px;
    border: 2px solid #f15b2a;
    border-bottom: none;
    transition: .25s;
    opacity: 1;
}
.serves .partment:hove.title-serves-2{
    transform: rotateY(360deg);
    opacity: 1;
}

.serves .partment .title-serves-2 a{
        color: #fff;
}
.serves .partment:hover .title-serves{
    transform: translateY(-37px);
    opacity: 1;
    margin-left: 4%;
  /*  width: 92%;*/
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.serves .partment .title-serves a{
display: inline-block;
color: #fff;
padding: 70px 7px;
border-radius: 2px;
transition: 1s;
    text-decoration: none;
        font-size: 25px;
    opacity: 1;
}
.serves .partment:hover .title-serves a{
    opacity: 1;
    transform: rotateY(360deg) scale(1.1);
    font-size: 30px;
}
.serves .partment .title-serves i {
    position: absolute;
    bottom: 0px;
    color: #fff;
    text-align: right;
    margin-left: -15px;
    transition: .5s;
}
.serves .partment .title-serves i:hover{
    text-align: center;
    font-size: 20px;
        transform: rotate(360deg);
}
@media(max-width:1199px){
    .serves .partment .title-serves{
    margin-left: 5%;
    width: 90%;
    padding: 15px 20px 8px;

    }
    .serves .partment:hover .title-serves{
    margin-left: 5%;
    width: 90%
    }
    .serves .partment .title-serves i {
    position: absolute;
    bottom: -5px;
    color: #fff;

    }

}
@media(max-width:991px){
    .serves .partment .title-serves{
    margin-left: 11%;/*6*/
    width: 79%;/*88*/
    padding: 10px 10px 8px;

    }
    .serves .partment:hover .title-serves{
    margin-left: 11%;/*6*/
    width: 79%/*88*/
    }
    .serves .partment{
    border: 2px solid #f15b2a;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    height: 175px;
    cursor: pointer;
    }
    .serves .partment img{
    display: block;
    width: 100%;
    height: 175px;
    border-radius: 9px;
    transition: 1s;
    /*-webkit-animation: moving 1.5s infinite ease-in-out;*/
    }
    .serves .partment:hover .title-serves a{
    opacity: 1;
    transform: rotateY(360deg) scale(1.1);
    font-size: 25px;
    }
    .serves .partment .title-serves i {
    position: absolute;
    bottom: 30px;
    color: #fff;
    }
            .serves .partment {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    height: 200px;
    }
    .serves .partment img {
    height: 200px;
    }
    .serves .partment .title-serves i {
    position: absolute;
    bottom: 5px;
    color: #fff;
}
    
}
@media(max-width:768px){
    .serves .partment{
            width: 90%;
    margin: auto;
    margin-bottom: 20px;
    }
    .serves .partment img{
        
    }
    .serves .partment .title-serves{
     /*  width: 80%; 
        opacity: 1;*/
            margin: auto;
    /*margin-bottom: 17px;*/
    max-width: 86%;/*85*/
    }
    .serves .partment .title-serves {


    width: 86%;/*85*/
    padding: 10px 10px 8px;
    }
    .serves .partment:hover .title-serves{
        margin: auto;
        transform: translateY(-17px);
        width: 86%;/*85*/
    }
    .serves .partment {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    height: 250px;
    }
    .serves .partment img {
    height: 250px;
    }
    .serves .partment .title-serves i {
    position: absolute;
    bottom: -20px;
    color: #fff;
}
}
@media(max-width:480px){
        .serves .partment .title-serves{
     /*  width: 80%; 
        opacity: 1;*/
            margin: auto;
    margin-bottom: 17px;
    max-width: 83%;
    }
        .serves .partment:hover .title-serves{
        margin: auto;
        transform: translateY(-17px);
        max-width: 83%;
    }
    
        .serves .partment {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    height: 175px;
    }
    .serves .partment img {
    height: 175px;
    }
    .serves .partment .title-serves i {
    position: absolute;
    bottom: 50px;
    color: #fff;
}
    
}
@media(max-width:370px){
            .serves .partment .title-serves{
     /*  width: 80%; 
        opacity: 1;*/
            margin: auto;
    margin-bottom: 17px;
    max-width: 81%;
    }
        .serves .partment:hover .title-serves{
        margin: auto;
        transform: translateY(-17px);
        max-width: 81%;
    }
    .serves .partment {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    height: 150px;
    }
    .serves .partment img {
    height: 150px;
    }
    .serves .partment .title-serves i {
    position: absolute;
    bottom: 75px;
    color: #fff;
}
}




.scearch{
    margin-top: 30px;
}
.scearch .Other-Search{
      /*  width: 25%;*/

}
.scearch .Other-Search input{
    width: 100%;
    float: right;
    border: 1px solid #f15b2a;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    outline: 0;
    border-radius: 10px;
    height: 35px;
    line-height: 35px;
        font-size: 18px;
}
.scearch .Other-Search .search-row{
        margin: 0;
}
.scearch .Other-Search .lable-scearch{
    /* float: left; */
    width: 100%;
    border: 1px solid #f15b2a;
    margin-top: 0px;
    background: #f15b2a;
    /* padding: 4px; */
    /* padding-top: 2px; */
    border: 1px solid #f15b2a;
    /* padding-left: 10px; */
    text-align: center;
    padding-bottom: 2px;
    margin-left: 25px;
    transition: .75s;
    cursor: pointer;
    border-radius: 10px;
    height: 35px;
    line-height: 35px;
}
.scearch .Other-Search .lable-scearch i{
    width: 100%;
        color: #ffffff;
    transition: .75s;
        font-size: 18px;

}
.scearch .Other-Search .lable-scearch:hover{
        border: 1px solid #f15b2a;
        background: #fff;
}
.scearch .Other-Search .lable-scearch:hover i{
        color: #f15b2a;
}

@media(max-width:768px){
    .scearch .Other-Search .lable-scearch{
        margin-left: 25px;
    
}
    .scearch .Other-Search input{

        font-size: 16px;
}
    .scearch .Other-Search .lable-scearch i{

        font-size: 16px;

}
.scearch .Other-Search .lable-scearch{

