.contaisdfsfner{
    max-width: 800px;
    margin: auto;
}


/********************** Start Comenmt**********************/
.comment{
    padding-top: 30px;
    background: #E9EBEE;
    height: auto;
    font-family: 'Noto Sans', sans-serif;
}
.comment .post {
    border: 2px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
}
.comment .post .writepost{
        border-bottom: 2px solid #E9EBEE;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;

}
.comment .post .ddasdada {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;
}
.comment .post .ddasdada .photot {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.comment .post .ssdasdasd{
    width: 100%;
    height: auto;
    padding-right: 25px;
    margin-left: 15px;
    margin-top: 0px;
    padding-bottom: 10px;
}
@media(max-width:768px){
    .comment .post .ssdasdasd{
    width: 100%;
    height: auto;
    padding-right: 25px;
    margin-left: 35px;
    margin-top: 0px;
    padding-bottom: 10px;;
}
}
.comment .post .ssdasdasd .input-file{
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 20px;
    resize: none;
    padding-top: 10px;
    padding-left: 10px;
}

.comment .post .under .file-upload{
    background: #f3f3f3;
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.comment .post .under .file-upload:hover{
    background: #DDDFE2;
}
.comment .post .under .click-post{
    padding-top: 10px;
    float: right;
    padding-right: 40px;
}
.comment .post .under .click-post .btn{
    background: #3658C0;
    border: none;
}
/**********بدايه البوست بعد الرفع ***********/
.comment .upload-post{
    border: 2px solid #ccc;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    margin-top: -10px;
}
.comment .upload-post .under-podda{
    
}
.comment .upload-post .under-podda .ddasdada{
        width: 60px;
    height: 60px;
    margin-left: 20px;
    border-radius: 50%;
}
.comment .upload-post .under-podda .ddasdada .photottd{
        display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.comment .upload-post .under-podda .click-post{
        width: 100%;
    height: auto;
    padding-right: 25px;
    margin-left: 25px;
    margin-top: 10px;
    padding-bottom: 10px;;
}
@media(max-width:768px){
.comment .upload-post .under-podda .click-post{
        width: 100%;
    height: auto;
    padding-right: 25px;
    margin-left: 55px;
    margin-top: 10px;
    padding-bottom: 10px;;
}
}
.comment .upload-post .under-podda .click-post h3{
    font-size: 20px;
}
.comment .upload-post .under-podda .click-post h3 a{
    color: #3658C0;
}
.comment .upload-post .under-podda .click-post h3 a:hover{
    color: #3658C0;
}
.comment .upload-post .under-podda .click-post h5 a{
 color: #777;
}
.comment .upload-post .under-podda .click-post h5 a:hover{
 color: #777;
}

.comment .upload-post .under-podda .click-edit{
    float: right;
    margin-top: 15px;
    padding-right: 10px;
}
@media(max-width:768px){
.comment .upload-post .under-podda .click-edit{
    float: right;
    margin-top: 15px;
    padding-right: 5px;
}
}
.comment .upload-post .under-podda .click-edit .fa{
    float: right;
    padding-top: 10
}
.comment .upload-post .under-podda .click-edit .editeee{
    width: 100px;
    height: auto;
    padding: 5px;
    background: #fff;
    border: 2px solid #6d6d6d;
    margin-top: 20px;
    display:none;
    border-radius: 5px;
    position: absolute;
    right: 20px;
}
.comment .upload-post .under-podda .click-edit .editeee span{
    
}
.comment .upload-post .under-podda .click-edit .editeee span a{
    text-decoration: none;
    border-bottom: 1px solid #6d6d6d;
    width: 100%;
    display: block;
    padding: 5px;
    color: #6d6d6d;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.comment .upload-post .under-podda .click-edit .editeee span a:hover{
    border-bottom: 1px solid #6d6d6d;
    width: 100%;
    background: #3658c0;
    color: #fff;
    padding-left: 10px;
    border-bottom: 1px solid #fff;
}
.comment .upload-post .wordes{
    float: right;
    direction: rtl;
    margin-right: 2.5%;
    width: 95%;
    border-bottom: 2px solid #ccc;
}
.comment .upload-post .like{
border-bottom: 2px solid #ccc;
}
.comment .upload-post .like a{
    display: block;
    margin-right: -30px;
    font-family: JF flat;
    padding: 7px;
    margin-left: 15px;
}
.comment .upload-post .like a i{
        font-family: JF flat;
    font-size: 20px;
        color: #6d6d6d;
}
.comment .upload-post .like a i:hover{
        font-family: JF flat;
    font-size: 20px;
        color: #444444;
    border-bottom: 1px solid #6d6d6d;
}
@media(max-width:768px){
.comment .upload-post .like a i{
        font-family: JF flat;
    font-size: 19px;
    padding-top: 5px;
}
    .comment .upload-post .like a i:hover{
        font-family: JF flat;
    font-size: 19px;
        color: #444444;
    border-bottom: 1px solid #6d6d6d;
}
}
/*************/

/*********************/
.commentss{
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background: #e9ebee;
    overflow: hidden;
    margin-top: 0px;
        padding-left: 20px;
}
.commentss .under-poggdda{
    
}
.commentss .under-poggdda .ddasdada{
    width: 45px;
    height: 45px;
    margin-left: 18px;
    border-radius: 50%;
    margin-top: 10px;
}
.commentss .under-poggdda .ddasdada .photottd{
        display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.commentss .under-poggdda .click-post{
    width: 100%;
    height: auto;
    padding-right: 25px;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 0px;
}
@media(max-width:768px){
.commentss .under-poggdda .click-post{
        width: 100%;
    height: auto;
    padding-right: 25px;
    margin-left: 45px;
    margin-top: 25px;
    padding-bottom: 10px;;
}
    .commentss .under-poggdda .click-ediffdt .fa{
    padding-top: 20px
}
}
.commentss .under-poggdda .click-post h3{
    font-size: 20px;
}
.commentss .under-poggdda .click-post h3 a{
    color: #3658C0;
}
.commentss .under-poggdda .click-post h3 a:hover{
    color: #3658C0;
}
/********     h5    ****/
.commentss .likas-comentoss {
 color: #3678cd;
        padding-left: 30px;
    padding-bottom: 10px;
}
.commentss .likas-comentoss  a{
 color: #3678cd;
}
.commentss .likas-comentoss a:hover{
 color: #3678cd;
}
.commentss .likas-comentoss .fdfffsfsdsfs{
 color: #777;
}
.commentss .likas-comentoss .fdfffsfsdsfs:hover{
 color: #777;
}
/*********    ********/
.commentss .under-poggdda .click-edit{
    float: right;
    margin-top: 15px;
    padding-right: 10px;
}
@media(max-width:768px){
    .commentss .under-poggdda .click-edit{
        float: right;
        margin-top: 15px;
        padding-right: 5px;
    }
        .commentss .under-poggdda .click-post h3{
        font-size: 16px;
    }
    .commentss .under-poggdda .click-post h3 a{
        color: #3658C0;
    }
    .commentss .under-poggdda .click-post h3 a:hover{
        color: #3658C0;
    }
    /*************  h5  *****/
    .commentss .likas-comentoss {
     color: #3678cd;
        font-size: 13px;
        display: inline;
    }
    .commentss .likas-comentoss  a{
     color: #3678cd;
        font-size: 13px;
            
    }
    .commentss .likas-comentoss a:hover{
     color: #3678cd;
        font-size: 13px;
    }
    .commentss .likas-comentoss .fdfffsfsdsfs{
     color: #777;
        font-size: 13px;
    }
    .commentss .likas-comentoss .fdfffsfsdsfs:hover{
     color: #777;
        font-size: 13px;
    }
    .commentss .under-poggdda .click-ediffdt .fa{
    padding-top: 20px
    }
    .commentss .under-poggdda .click-ediffdt .editesaaasee{
    width: 100px;
    height: auto;
    padding: 5px;
    background: #fff;
    border: 2px solid #6d6d6d;
    margin-top: -10px;
    display: none;
    border-radius: 5px;
    position: absolute;
    right: 40px;
}
}
.commentss .daadada{
    direction: rtl;
    padding-left: 10px;
    padding-right: 10px;
}

.commentss .under-poggdda .click-ediffdt .fa{
    padding-top: 15px
}
.commentss .under-poggdda .click-ediffdt .editesaaasee{
    width: 100px;
    height: auto;
    padding: 5px;
    background: #fff;
    border: 2px solid #6d6d6d;
    margin-top: 0px;
    display: none;
    border-radius: 5px;
    position: absolute;
    right: 40px;
}
.commentss .under-poggdda .click-ediffdt .editesaaasee span{
    
}
.commentss .under-poggdda .click-ediffdt .editesaaasee span a{
    text-decoration: none;
    border-bottom: 1px solid #6d6d6d;
    width: 100%;
    display: block;
    padding: 5px;
    color: #6d6d6d;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.commentss .under-poggdda .click-ediffdt .editesaaasee span a:hover{
    border-bottom: 1px solid #6d6d6d;
    width: 100%;
    background: #3658c0;
    color: #fff;
    padding-left: 10px;
    border-bottom: 1px solid #fff;
}

/********************************************************************************************************************************/


.comment .upload-post .writecoment{
    border-bottom: 2px solid #E9EBEE;
    width: 100%;
    padding-top: 5px;
    background: #e9ebee;
    margin-bottom: -5px;
}
.comment .upload-post .writecoment .ddasdada {
    width: 45px;
    height: 45px;
    margin-left: 18px;
    border-radius: 50%;
}
.comment .upload-post .writecoment .ddasdada .photot {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.comment .upload-post .writecoment .ssdasdasd{
    width: 100%;
    height: auto;
    padding-right: 25px;
    margin-left: 15px;
    margin-top: 0px;
    padding-bottom: 5px;
}
@media(max-width:768px){
    .comment .upload-post .writecoment .ssdasdasd{
    width: 100%;
    height: auto;
    padding-right: 25px;
    margin-left: 35px;
    margin-top: 0px;
    padding-bottom: 5px;;
}
}
.comment .upload-post .writecoment .ssdasdasd .input-file{
     width: 100%;
    height: 40px;
    border: 2px solid #ddd;
    border-radius: 20px;
    resize: none;
    padding-top: 7px;
    padding-left: 10px;
}





/****************************************************************************************************************
/**********نهايه البوست بعد الرفع ***********/
/************************End Comment****************************/